
body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f2f2f2;
    padding: 10px;

}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #333;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
}
.project-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 10px;
}

.project a {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #555;
}